In [60]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

## Part 1

In [61]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [62]:
response = requests.get(url)
response

In [63]:
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup.prettify())

In [64]:
table = soup.select('table')[0]

In [65]:
trs = table.select('tr')

In [66]:
lanuages = []
speakers = []
for tr in trs:
    tds = tr.select('td')
    if tds:
        language = tds[0].get_text(strip=True)
        speaker = tds[1].get_text(strip=True).replace("\n", "").replace(',', '')
        lanuages.append(language)
        speakers.append(speaker)

df = pd.DataFrame({'Language': lanuages, 'Native Speakers': speakers})

In [67]:
df.head(10)

                                            Language Native Speakers
0  Mandarin Chinese(incl.Standard Chinese, but ex...             939
1                                            Spanish             485
2                                            English             380
3               Hindi(excl.Urdu, andother languages)             345
4                                         Portuguese             236
5                                            Bengali             234
6                                            Russian             147
7                                           Japanese             123
8                        Yue Chinese(incl.Cantonese)            86.1
9                                         Vietnamese            85.0